/* font */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* set margin */
body{
    max-width: 1440px;
    margin: 0px auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* individual color */
/* share style */
.display-flex{
    display: flex;
}
.dark-color{
    color: #000000;
}
.orange-color{
    color: #E95A08;
}
.des{
    font: inter-font;
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.bar{
    font-size: 1rem;
    font-weight: 400px;
    color: #6B7280;
}
/* nav bar */
.header{
    max-width: 1440px;
    margin: 0px auto;

}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-left: 150px;
    margin-right: 150px;
}
.Link-item{
    list-style: none;
}
.Link{
    text-decoration: none;
    margin-left: 48px;
}
.home-color{
    font-size: 1rem;
    font-weight: bold;
    color: #252432;
}
.nav-color{
    font-size: 1rem;
    font-weight: 400;
    color: #8987A1;
}
.cart{
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}
/* banner section styles */
.banner{
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
    border: none;
    height: 461px;
    justify-content: space-between;
    align-items: end;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;
}
/* plant section style */
.plant{
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 120px;
}
.plant-content{
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}
.plant-title{
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 16px;
}
/* .plant-des{
    max-width: 888px;
} */
.card-container{
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 20px;
}

.card{
    border: none;
    height: 484px;
    text-align: center;
}
.card-title{
    font-size: 1.375rem;
    font-weight: 500px;
    color: #111111;
    margin-top: 20px;
}
   
.card-number{
    font-size: 1.375rem;
    font-weight: bold;
    color: #111111;
    margin-top: 8px;
} 
.btn{
    padding: 19px 80px;
    border: none;
    background-color: #E95A08;
    color: #FFFFFF;
    margin-top: 17px;
    font-size: 1rem;
    font-weight: 600px;
}

/* Lover and flower section */

.lover{
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 210px;
    margin-bottom: 133px;
}
.lover-container{
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    border: none;
    position: relative;
}

.lover-title{
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.lover-des{
    padding-left: 30px;
}
.lover-des li{
    padding-bottom: 20px;
}

.lover-image img{
    height: 100%;
}

.badge{
    width: 286px;
    height: 286px;
    /* width: 100px;
    height: 100px; */
    position: absolute;
    transform: translate(500px, -730px);
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.5));
    /* box-shadow: -4px 10px 4px 0px rgba(0, 0, 0, 0.25); */
    border-radius: 100%;
}
/* deal section */
.deal{
    max-width: 1440px;
    margin: 0px auto;
    margin-bottom: 120px;
}
.deal-content{
    text-align: center;
    width: 888px;
    margin: 0px auto;
    margin-bottom: 120px;
}
.deal-content-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.deal-container{
    height: 424px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 28px;
}
.deal-container > div{
    flex: 1fr;
}
.deal-container img{
    width: 100%;
    height: 100%;
}
.left-deal{
    width: 35%;
    flex-direction: column;
    row-gap: 25px;
}
.left-up{
    background-image: url(../assets/deal-ana.png);
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 14px;
}
.left-down{
    background-image: url(../assets/deal-bloom.png);
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 14px;

}
.right-deal{
    width: 65%;
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 24px;
}
.left-up-title{
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}
.left-up-title2{
    font-size: 1rem;
    font-weight: 600px;
    color: #FFFFFF;
    text-decoration: underline;
}
/* latest section background opacity */

.right-deal-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4));
    height: 424px;    
    border-top: 1px solid transparent;
    border-radius: 24px; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-up-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4));
    height: 200px;    
    border-top: 1px solid transparent;
    border-radius: 16px; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-down-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4));
    height: 200px;    
    border-top: 1px solid transparent;
    border-radius: 16px; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right-deal-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.right-deal-title2{
    font-size: 1.75rem;
    font-weight: 600px;
    color: #FFFFFF;
    text-decoration: underline;
}




/* join section */
.join{
    max-width: 1440px;
    margin: 0px auto;
    height: 533px;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.join-title{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 23px;
}
.join-content{
    text-align: center;
    padding-top: 193px;
}
.input-fill{
    display: flex;
    justify-content: center;
}
.join-content input[type="email"]{
    padding: 15px 504px 15px 20px;
    margin: 0px;
    border: none;
    color: rgba(0, 0, 0, 0.5);

}
.join-content button{
    padding: 15px 53px 15px 53px;
    margin: 0px;
    border: none;
    background-color: #E95A08;
    color: #FFFFFF;
}


/* footer style */
.footer{
    max-width: 1440px;
    margin: 0px auto;
}

.footer-container{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content:space-between;
    border: none;
}
.footer-content{
    width: 359px;
    margin-top: 50px;
}
.footer-content img{
    margin-bottom: 16px;
}
.footer-link{
    padding-top: 18px;
}
.footer-link-item{
    list-style: none;
    padding-top: 32px;
}
.footer-item{
    text-decoration: none;
}

.feature-container{
    padding-top: 50px;
}
.feature-item{
    list-style: none;
    padding-bottom: 32px;
}
.item{
    text-decoration: none;
}

.icon-container{
    justify-content: space-between;
    align-items: start;
    gap: 24px;
    margin-top: 50px;
}
.icon-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

/* media */
@media screen and (max-width: 576px){
    /* responsive header section */
    .navbar{
        margin-top: 13px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .nav-logo-image{
        width: 50%;
    }
    #nav-home,#nav-about,#nav-shop{
        display: none;
    }
    .banner{
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column-reverse;
        margin-top: 150px;
    }
    .banner-content{
        width: 90%;
        margin: 0px 16px;
    }
    .banner-title{
        font-size: 3rem;
        padding-top: 30px;
        padding-bottom: 13px;
    }
    .banner-img{
        width: 100%;
    }
    /* responsive plant section */
    .plant{
        margin-top: 65px;
    }
    .plant-content{
        margin-left: 16px;
        margin-right: 16px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-right: 16px;
        margin-left: 16px;
    }
    .card{
        height: 100%;
    }
    .card-image{
        width: 100%;
        /* height: 100%; */
    }
    .btn{
        padding: 10px 40px;
    }
    .lover-container{
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
    }
    .badge{
        display: none;
    }
    /* footer section responsive */
    .lover-img{
        width: 100%;
    }
    .lover{
        margin-top: 41px;
    }
    .footer-container{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 14px;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .footer-content{
        margin-top: 20px;
    }
    /* join section responsive */
    .join-content input[type="email"]{
        padding: 0px;
        padding-left: 20px;
    }
    .join-content button{
        padding: 15px 12px;
    }
    .join-content{
        padding-top: 100px;
    }
    .join{
        height: 277px;
    }
    .join-title{
        font-size: 2rem;
    }

    /* latest deal section responsive */
    
     .deal{
        margin-bottom: 270px;
     }
     .deal-content{
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin-bottom: 50px;
     }
    .deal-container{
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
    .left-deal{
        width: 100%;
    }
    .right-deal{
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }
    .right-deal-bg{
        height: 200px;
        border-radius: 16px;
    }
    .right-deal-title{
        font-size: 1.25rem;
    }
    .right-deal-title2{
        font-size: 1rem;
    }

}

